
* {
    margin: auto;
    padding: auto;
    box-sizing: inherit;
}

html {
    font-size: 70%;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    height: 100vh;
    color: #282525;
    background-image: linear-gradient(to top left, #ab3ac7 10%, #30a9cb 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Layout for players*/
main {
    position: relative;
    width: 100rem;
    height: 60rem;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(200px);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    overflow: hidden;
    display: flex;
}

.player {
    flex: 50%;
    padding: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.75s;
}

/*Contents*/
.name {
    position: relative;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 350;
    margin-bottom: auto;
}

.score {
    font-size: 12rem;
    font-weight: 200;
    color: #772ba3b0;
    margin-bottom: 9.5rem;
    margin-top: 4rem;
}

.player--active {
    background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
    font-weight: 550;
}
.player--active .score {
    font-weight: 500;
}
.player--active .current { /* visibility(saturation) of current score */
    opacity: 1;
}

.current {
    background-color: #4b2ba39a;
    opacity: 0.8;
    border-radius: 10px;
    color: antiquewhite;
    width: 65%;
    padding: 2rem;
    text-align: center;
    transition: all 0.75s;
}

.current-label {
    text-transform: uppercase;
    font-size: 1.7rem;
    color: #ddd;
}

.current-score {
    font-size: 5rem;
}

/*Control bottuns at absolute positions*/
.btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.7rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: all 0.2s;

    background-color: antiquewhite;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);

    padding: 0.4rem 1.8rem; /* top and bottom to left and right pading respectively */
    border-radius: 50rem;
    box-shadow: 0 1.7rem 3.5rem rgba(124, 36, 36, 0.2);
}

.btn::last-letter {
    font-size: 1.8rem;
    display: inline-block;
    margin-left: 0.7rem;
}

.btn--new {
    top: 4rem;
}

.btn--roll {
    top: 43.5rem;
}

.btn--hold {
    top: 48.5rem;
}

.btn:active { /* animation of buttons visible */
    transform: translate(-50%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
}

.btn:focus {
    outline: none;
}

.dice {
    position:absolute;
    left: 50%;
    top: 20rem;
    transform: translateX(-50%);
    height: 10rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner {
    background-color:#974ac3b0;
}

.player--winner .name {
    font-weight: 700;
    color: #ab3ac7;
}

.hidden {
    border: none;
}